.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
  padding-top: 80px;
  padding-right: 50px;
  max-width: 1400px;
  margin: 0 auto;

  .region-card {
    padding: 30px;
    padding-bottom: 10px;
  }
}

.menu {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 12px 20px;
  border-radius: 15px;
  max-width: fit-content;
  margin: 0 auto;
  position: relative;

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;

    li {
      font-weight: bold;
      font-size: 16px;
      position: relative;
      padding: 9px 30px;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 102%;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: 1px;
        background-color: #ffffff;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media (max-width: 937px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    ul {
      gap: 4px;
      li {
        padding: 10px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 480px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    ul {
      gap: 5px;
      li {
        padding: 10px;
        text-align: center;
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 893px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    padding-top: 80px;
    gap: 0px;
  }
}
