.selectWrapper {
  width: 270px;
  white-space: nowrap;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.identicon {
  margin-right: 8px;
}

.verifiedIcon {
  width: 24px;
  height: 24px;
  margin-left: -5px;
}

.optionContent {
  display: flex;
  flex-direction: column;
}

.nameLine {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.addressLine {
  font-size: 12px;
  color: #888;
}

.verifiedIcon {
  width: 24px;
  height: 24px;
}
