@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.amountInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  align-items: self-start;
  justify-content: flex-start;

  &-form {
    display: flex;
    flex-direction: row;

    .selectWrapper {
      max-width: 70px;
      flex: 1;
      border: 0;
      border-radius: 0;
      margin: 0;
      .selectBox {
        border: none;
        background-color: $gray3;
        border-radius: 6px 0 0 6px;
        height: 48px;
        box-sizing: border-box;
      }
      .selectDropdown {
        width: 300px;
      }
    }

    .amountInputField {
      flex: 1;
      background-color: $darkBackground2;
      padding: 10px;
      border: none;
      margin-left: 5px;
      outline: none;
      font-size: 16px;
      line-height: 24px;
      max-width: 170px;
      @include Inter;
      text-align: left;
      border: none;
      height: 48px;
      box-sizing: border-box;
      border-radius: 10px;
      color: white;
      &:focus {
        outline: none;
        border: none;
      }
    }

    &.singleInput .amountInputField {
      flex: 1;
    }
  }

  &-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: $dark;
    @include Inter;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}
