@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.amountInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
  justify-content: flex-start;

  &-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;

    .selectWrapper {
      width: 100%;
      height: 48px;
      flex-shrink: 0;

      .selectBox {
        width: 100%;
        height: 100%;
        border: none;
        background-color: $gray3;
        border-radius: 6px;
        box-sizing: border-box;
      }

      .selectDropdown {
        width: 300px;
      }
    }

    .amountInputField {
      width: 100%;
      height: 48px;
      background-color: $darkBackground2;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 24px;
      @include Inter;
      text-align: left;
      box-sizing: border-box;
      border-radius: 10px;
      color: white;

      &:focus {
        outline: none;
        border: none;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .selectWrapper,
      .amountInputField {
        width: 100%;
        height: 48px;
      }

      .selectWrapper {
        margin-bottom: 10px;
      }
    }
  }

  &-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: $dark;
    @include Inter;
    line-height: 24px;
    text-align: left;
  }
}
