@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: $white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  h2 {
    color: $greenPrimary;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }

  .walletContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .walletButton {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    padding: 15px;
    background: $gray3;
    border: none;
    color: $black;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 16px;
    font-family: Montserrat;

    &:hover {
      background: #b0b0b0;
    }

    .walletIcon {
      margin-right: 12px;
      transition: filter 0.3s ease;
    }
  }

  .disabled .walletIcon {
    filter: grayscale(100%);
    opacity: 0.6;
  }

  .closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $black;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 150px;
    padding: 20px;
  }

  .walletButton {
    justify-content: center;
    width: 10px;
  }

  .walletIcon {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  .desktopOnly {
    display: none;
  }
}
