@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: $white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  h2 {
    color: $greenPrimary;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }

  .walletButton {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    padding: 15px;
    background: $gray3;
    border: none;
    color: $black;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 16px;
    &:hover {
      background: #b0b0b0;
    }

    .walletIcon {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  .disabled {
    color: #888;
    cursor: pointer;
  }

  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
}
