@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.analyticsCard {
  background: $darkBackground1;
  border-radius: 15px;
  padding: 22px;
  color: var(--text-color);
  width: 500px;
  margin-top: 100px;
  margin-left: 20px;
  max-height: calc(100vh - 185px);

  display: flex;
  flex-direction: column;
  @include Inter;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  @media (max-width: 1600px) {
    width: 400px;
  }

  @media (max-width: 800px) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: 40px;
    max-height: calc(100vh - 205px);
  }
}

.header {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 4px;
  }

  p {
    color: var(--text-muted);
    font-size: 0.875rem;
  }
}

.tabsWrapper {
  margin-top: 0px;
}

.tabs {
  box-sizing: border-box;
  list-style: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: $darkBackground3;
  border-radius: 8px;
  width: 100%;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  color: $gray6;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: $greenPrimary;
    color: var(--dark-background-2);
  }

  &.active {
    background-color: $greenPrimary;
    color: $darkBackground2;
  }
}
