@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use 'sass:color';

.analyticsCard {
  background: $darkBackground1;
  border-radius: 15px;
  padding: 22px;
  color: $white;
  width: 400px;
  margin-top: 100px;
  margin-left: 20px;
  max-height: 80%;
  @include Inter;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (max-width: 800px) {
    width: 83%;
    height: auto;
    overflow: visible;
    margin-left: 3%;
    margin-top: 100px;
  }
}

.header {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 4px;
  }

  p {
    color: $gray6;
    font-size: 0.875rem;
  }
}

.tabsWrapper {
  margin-top: 20px;
}

.tabs {
  box-sizing: border-box;
  list-style: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: $darkBackground3;
  border-radius: 8px;
  width: 100%;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  color: $gray6;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: $greenPrimary;
    color: black;
  }

  &.active {
    background-color: $greenPrimary;
    color: $darkBackground2;
  }
}
