@use '../.././styles/variables' as *;
@use '../.././styles/mixins' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding-top: 40px;
  color: var(--text-primary);
}

.modal {
  width: 80%;
  background-color: $darkBackground2;
  border-radius: 10px;
  padding: 25px;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.detailItem {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
}

.label {
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.value {
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 500;
}

.tableWrapper {
  min-width: 850px;
  overflow-x: auto;
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}
