@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.RegionCardProperties {
  &-headline {
    @include Inter;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
    margin: 0;
  }
  &-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      @include Inter;
      font-size: 12px;
      line-height: 22px;
      width: 50%;
      text-align: left;
      padding-left: 10px;
    }
  }
}
.disancer {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 20px;
  margin: 15px 0 15px 0;
}
