@use '../../styles/mixins' as *;

.parachain_dashboard_table {
  margin-top: 130px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-background-2);
  @include Inter;
  border-radius: 20px;
  margin-bottom: 45px;
  overflow-x: auto;
  border: 1px solid var(--dark-background-3);
}

.dashboard_table {
  margin-top: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 10px;
  overflow-x: auto;

  @media (max-width: 475px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.tableWrapper {
  border-radius: 12px;
  background-color: var(--dark-background-2);
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  min-width: 600px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin-left: 3%;
  margin-top: -35px;

  @media (max-width: 768px) {
    text-align: left;
    margin-top: 20px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
  margin-right: 3%;

  @media (max-width: 768px) {
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 0;
    gap: 10px;
  }
}

.customButton {
  background-color: var(--dark-background-2);
  color: var(--green-primary);
  border: 1px solid var(--green-primary);
  border-radius: 10px;
  padding: 15px 20px;
  margin-left: 10px;
  margin-top: 100px;
  cursor: pointer;
  font-size: 14px;
  @include Inter;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--dark-background-3);
  }

  &.secondary {
    background-color: var(--green-primary);
    color: var(--white);

    &:hover {
      background-color: var(--green-dark-2);
    }
  }

  @media (max-width: 768px) {
    margin-top: 0;
    margin-left: 0;
    padding: 10px 14px;
    font-size: 12px;
  }
}

.starIcon {
  cursor: pointer;
  color: var(--gray-6);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 20px;
  height: 20px;

  &:hover {
    color: var(--gray-4);
  }

  &.starActive {
    color: var(--green-primary);
  }
}

.starIconContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  width: 100%;
}

.parachainNameContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
