@use '../../../../styles/variables' as *;
@use '../../../../styles/_mixins' as *;
@use 'sass:color';

.tableWrapper {
  border-radius: 12px;
  background-color: $black;
  padding: 24px;
  width: 95%;

  max-width: unset;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  @media (max-width: 1503px) {
    max-width: 93.5%;
  }
  @media (max-width: 1260px) {
    max-width: 93%;
  }
  @media (max-width: 1260px) {
    max-width: 93%;
  }
  @media (max-width: 1130px) {
    max-width: 92%;
  }
  @media (max-width: 1060px) {
    max-width: 91%;
  }
  @media (max-width: 865px) {
    max-width: 85%;
  }
  @media (max-width: 750px) {
    max-width: 88%;
  }
  @media (max-width: 450px) {
    max-width: 85%;
  }
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white;
  margin-bottom: 16px;
}
