@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.coreRemainingCard {
  background: $darkBackground2;
  border-radius: 15px;
  padding: 30px;
  color: var(--text-color);
  width: 29.6%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--card-border);
  @include Inter;

  @media (max-width: 1800px) {
    width: 48.5%;
  }
  @media (max-width: 1500px) {
    width: 91.5%;
  }
  @media (max-width: 1100px) {
    width: 88%;
  }
  @media (max-width: 827px) {
    max-width: 86%;
  }
  @media (max-width: 800px) {
    max-width: 90%;
  }
  @media (max-width: 750px) {
    max-width: 85%;
  }
  @media (max-width: 450px) {
    max-width: 80%;
  }

  &.compact {
    width: 21%;
    @media (max-width: 1920px) {
      width: 29%;
    }
    @media (max-width: 1850px) {
      width: 27.5%;
    }
    @media (max-width: 1800px) {
      width: 22%;
    }
    @media (max-width: 1706px) {
      width: 21.5%;
    }
    @media (max-width: 1540px) {
      width: 21%;
    }
    @media (max-width: 1502px) {
      width: 49%;
    }
    @media (max-width: 1349px) {
      width: 91.5%;
    }
    @media (max-width: 1194px) {
      width: 91%;
    }
    @media (max-width: 1000px) {
      width: 88%;
    }
    @media (max-width: 887px) {
      max-width: 87.5%;
    }
    @media (max-width: 800px) {
      max-width: 90%;
    }
    @media (max-width: 750px) {
      max-width: 85%;
    }
    @media (max-width: 450px) {
      max-width: 80%;
    }
  }
}

.label {
  color: var(--text-muted);
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 14px;
  text-align: left;

  @media (max-width: 480px) {
    font-size: 0.75rem;
  }
}

.value {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 24px;

  @media (max-width: 1600px) {
    font-size: 1.3rem;
  }

  @media (max-width: 1300px) {
    font-size: 1rem;
  }

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }

  @media (max-width: 430px) {
    font-size: 1rem;
  }
}

.chartWrapper {
  position: relative;
  width: 100%;
  height: 150px;

  @media (max-width: 480px) {
    height: 130px;
  }
}
