@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  margin-top: 100px;
  color: white;
}

.chainSelectionContainer {
  background: $darkBackground1;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionLabel {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-align: start;
}
.smallIcon {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.chainSelection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

.swapIcon {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.transferSection {
  background: $darkBackground1;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  gap: 10px;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
  }
}

.amountSection {
  margin-top: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 880px;
  margin-top: 1rem;

  button {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 200px;

    &:first-child {
      background: #111;
      color: white;

      &:hover {
        background: #333;
      }
    }

    &:last-child {
      background: #16c784;
      color: white;

      &:hover {
        background: #14a974;
      }
    }
  }
}
.beneficiaryInputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;

  > :first-child {
    flex: 1;
  }
}

.meButton {
  background-color: $darkBackground2;
  color: white;
  padding: 15px 16px;
  border-radius: 8px;
  border: none;
  white-space: nowrap;
  transition: 0.2s;
  cursor: pointer;
  @include Inter;
  &:hover {
    background-color: lighten($darkBackground2, 3%);
  }
}
