@use '../../../styles/mixins' as *;

.componentWrapper {
  display: flex;
  flex-direction: column;

  .inputWrapper {
    position: relative;
    @include Inter;
    font-size: 14px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    background-color: var(--dark-background-2);
    border-radius: 10px;
    transition: border-color 0.3s ease;

    &.-disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:focus-within {
      border-color: var(--white);
    }

    &-icon-left {
      opacity: 0.5;
      display: flex;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--gray-3);

      &-focused {
        opacity: 0;
      }
    }

    &-identicon {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: -8px;
    }

    &-label {
      text-align: left;
      font-size: 14px;
      line-height: 24px;
      @include Inter;
      margin-bottom: 5px;
      color: #333;

      &.inputWrapper-error {
        color: var(--red-dark);
      }
    }

    &-error {
      border: none;
    }

    .inputField {
      width: 100%;
      padding: 16px 20px;
      padding-left: 20px;
      border: none;
      outline: none;
      font-size: 14px;
      background-color: transparent;
      color: var(--white);

      &-disabled {
        background-color: #f0f0f0;
        cursor: not-allowed;
      }

      &-error {
        border-radius: 4px;
        border: 2px solid var(--red-dark);
        color: var(--red-dark);

        &:focus-within {
          border-color: var(--red-dark);
        }
      }

      &-focused {
        border-color: var(--black);
      }

      &-leftIcon {
        padding-left: 50px;
      }
    }
  }
}
