$yellowDark: #f59e0b;
$yellowLight3: #fef3c7;
$greenDark: #1a8245;
$greenLight6: #daf8e6;
$orangeDark: #e1580e;
$orangeLight4: #fde5d8;
$pinkDark: #c814f6;
$pinkLight4: #fcf1fe;
$cyan: #01a9db;
$cyanLight3: #d0f0fd;
$redDark: #e10e0e;
$redLight4: #fdd8d8;
$purpleDark: #6d28d9;
$purpleLight4: #ede9fe;
$teal: #02aaa4;
$tealLight3: #c2f5e9;
$blueDark: #1c3fb7;
$blueLight5: #e1e8ff;
$white: #fff;
$black: #000;
$lightGray: #f9f9f9;
$gray3: #e5e7eb;
$gray6: #ced4da;
$dark: #111928;
$dark5: #6b7280;
$gray5: #ced4da;
$greenPrimary: #10c285;
$borderGray: #dfe4ea;
$sliderDisabled: #54596c;
$background: #0f0f0f;
$darkBackground1: #1d1f1f;
$darkBackground2: #111212;
$darkBackground3: #171a1c;
