/* src/styles/_variables.scss */

$yellowDark: var(--yellow-dark);
$yellowLight3: var(--yellow-light-3);
$greenDark: var(--green-dark);
$greenDark2: var(--green-dark-2);
$greenLight6: var(--green-light-6);
$orangeDark: var(--orange-dark);
$orangeLight4: var(--orange-light-4);
$pinkDark: var(--pink-dark);
$pinkLight4: var(--pink-light-4);
$cyan: var(--cyan);
$cyanLight3: var(--cyan-light-3);
$redDark: var(--red-dark);
$redLight4: var(--red-light-4);
$purpleDark: var(--purple-dark);
$purpleLight4: var(--purple-light-4);
$teal: var(--teal);
$tealLight3: var(--teal-light-3);
$blueDark: var(--blue-dark);
$blueLight5: var(--blue-light-5);
$white: var(--white);
$black: var(--black);
$lightGray: var(--light-gray);
$gray3: var(--gray-3);
$gray5: var(--gray-5);
$gray6: var(--gray-6);
$greenPrimary: var(--green-primary);
$borderGray: var(--border-gray);
$sliderDisabled: var(--slider-disabled);
$background: var(--background);
$darkBackground1: var(--dark-background-1);
$darkBackground2: var(--dark-background-2);
$darkBackground3: var(--dark-background-3);
$darkBackground4: var(--dark-background-4);
$textColor: var(--text-color);
