@use './variables' as *;
@use './mixins' as *;
@use './theme' as *;
@use 'sass:color';

html,
body {
  height: 100%;
  min-height: -webkit-fill-available;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}

.globalRpcButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1500;
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }

  .rpcButton {
    background-color: var(--dark-background-4);
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: color.adjust(#222424, $lightness: 10%);

      img {
        animation: rotateOnce 0.6s linear;
      }
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
    }
  }
}
