@use './variables' as *;
@use './mixins' as *;
@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Inter';
  background-color: $background;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}

.globalRpcButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1500;
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }

  .rpcButton {
    background-color: $darkBackground4;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: color.adjust($darkBackground4, $lightness: 10%);

      img {
        animation: rotateOnce 0.6s linear;
      }
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
    }
  }
}
