@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use 'sass:color';

.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 800px) {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }
}

.AnalyticsButton {
  display: none;
  position: absolute;
  top: 100px;
  right: 20px;

  padding: 10px 16px;
  background-color: $darkBackground2;
  color: $white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  z-index: 10;
  @include Inter;

  @media (max-width: 800px) {
    display: block;
  }
}

.toggleButton {
  padding-top: 100px;
}
