@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  &:hover {
    background-color: $greenPrimary;
    color: $darkBackground2;
  }
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: $darkBackground2;
  border-radius: 10px;
  list-style: none;
  padding: 8px 10px;
  margin: 0;
  min-width: 180px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.navItem:hover .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.subMenuItem {
  padding: 12px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;

  &:hover {
    background: $darkBackground1;
  }
}

.downArrow {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  transition: transform 0.3s ease;
}
