@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

@use 'sass:color';

.card {
  background-color: $darkBackground3;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  border-radius: 12px;
  padding: 20px;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include Inter;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: $gray5;
}

.dropdown {
  background-color: $darkBackground2;
  color: $white;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 0.85rem;
}
