@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.coreRemainingCard {
  background: $darkBackground2;
  border: 1px solid var(--card-border);
  border-radius: 15px;
  padding: 24px;
  color: var(--text-color);
  width: 23.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include Inter;
  @media (min-width: 3000px) {
    width: 32%;
  }
  @media (max-width: 1800px) {
    width: 40%;
  }
  @media (max-width: 1503px) {
    width: 37%;
  }
  @media (max-width: 1161px) {
    width: 40.2%;
  }
  @media (max-width: 1100px) {
    width: 92%;
  }
  @media (max-width: 800px) {
    max-width: 90%;
  }
  @media (max-width: 750px) {
    max-width: 87%;
  }
  @media (max-width: 450px) {
    max-width: 83%;
  }
}

.title {
  font-size: 0.875rem;
  color: var(--text-muted);
}

.value {
  font-size: 2.5rem;
  font-weight: 700;
  margin: -25px 0 0;
  color: var(--text-color);
}

.row {
  background-color: $darkBackground1;
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 0.95rem;
  border: 1px solid var(--card-border);
  margin-top: auto;
  gap: 12px;
}

.label,
.amount {
  color: var(--text-color);
}

.buyButton {
  background-color: $greenPrimary;
  color: var(--black-text);
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  @include Inter;

  &:hover {
    background-color: var(--accent-green-hover);
  }
}
