@use '../../../styles/variables' as *;
@use '../../../styles/_mixins' as *;

.dashboardWrapper {
  border-radius: 15px;
  color: var(--text-primary);
  background-color: var(--card-background);
  width: 100%;
  max-height: calc(100vh - 140px);
  margin-top: 100px;
  overflow-y: auto;
  @include Inter;

  @supports (-webkit-touch-callout: none) {
    max-height: -webkit-fill-available;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(150, 150, 150, 0.4) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 3px;
  }

  -ms-overflow-style: auto;

  @media (max-width: 800px) {
    margin-top: 140px;
  }
}

.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: 10px;

  @media (max-width: 800px) {
    margin-left: 2%;
    padding-bottom: 40px;
  }
}
