@use 'sass:color';
@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.tableRow {
  display: flex;
  align-items: center;
  padding: 5px 6px;
  background-color: $darkBackground2;
  border-radius: 14px;
  margin-bottom: 10px;

  transition: background 0.2s;

  &:hover {
    background-color: color.adjust($darkBackground2, $lightness: 1%);
  }

  &-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 14px;
    border-radius: 12px;
    flex: 1;
    min-height: 50px;
    box-sizing: border-box;
    overflow: hidden;

    text-align: left;
    font-size: 14px;
    color: $white;
  }

  &-cell:first-child {
    margin-left: 0;
  }
  &-cell:last-child {
    margin-right: 0;
  }
}
