@use 'sass:color';
@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.addressCellIcons {
  display: flex;
  width: 20px;
  position: relative;
  padding-left: 10px;

  .identicon {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.tableRow {
  display: flex;
  align-items: center;
  padding: 0px 6px;
  background: var(--dark-background-1);
  border: 1px solid var(--border-modal);
  border-radius: 12px;
  transition:
    background 0.15s ease,
    border-color 0.15s ease;
  margin-bottom: 8px;
  @media (max-width: 1130px) {
    min-width: 1150px;
  }

  &:hover {
    background-color: $darkBackground4;
  }

  &-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 14px;
    border-radius: 12px;
    flex: 1;
    min-height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 100px;
    text-align: left;
    font-size: 14px;
    color: $white;
  }

  &-cell:first-child {
    margin-left: 0;
  }

  &-cell:last-child {
    margin-right: 0;
  }
}
