@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $darkBackground1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Inter;
}

.navbarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 160px;
  height: auto;
  cursor: pointer;

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: 25px;
  }
}

.settingIcon {
  width: 30px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: start;
  transition: margin-left 0.3s ease;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 30px;
  }
}
.leftSection {
  display: flex;
  align-items: center;
}

.burgerAndLogo {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-end;
    width: 100%;
  }

  @media (min-width: 1281px) {
    .burgerIcon {
      display: none;
    }
  }
}
.desktopLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: $darkBackground2;
  border-radius: 10px;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  z-index: 1;
  max-width: 700px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-right: 9%;

  @media (max-width: 1301px) {
    display: none;
  }

  @media (min-width: 2021px) {
    margin-right: 25%;
  }

  @media (min-width: 3000px) {
    margin-right: 30%;
  }

  @media (min-width: 3500px) {
    margin-right: 35%;
  }
}
.desktopLinksWithConnect {
  margin-right: 17%;
  @media (min-width: 2021px) {
    margin-right: 25%;
  }
  @media (min-width: 2650px) {
    margin-right: 30%;
  }

  @media (min-width: 3000px) {
    margin-right: 32%;
  }

  @media (min-width: 3500px) {
    margin-right: 35%;
  }
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
  gap: 20px;
  color: $white;
  font-size: 14px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  text-align: left;
  color: $white;
  &:hover {
    background-color: $greenPrimary;
    color: $darkBackground2;
  }
}

.downArrow {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.coretimeWrapper {
  display: flex;
  align-items: center;
}

.desktopContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  gap: 5px;

  @media (max-width: 768px) {
    .accSelector,
    .networkSelector,
    .connectButton {
      display: none;
    }

    .rpcButton {
      display: flex !important;
      margin-right: 20px;
    }
  }
}

.rpcButton {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (min-width: 768px) and (max-width: 1435px) {
    margin-right: 20px;
  }
}

.rpcButtonDesktop {
  margin-right: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}

.connectButton {
  height: 50px;
  padding: 10px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 10px;
  color: $white;
  background-color: $darkBackground2;
  border: 1px solid $darkBackground1;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  @include Inter;

  &:hover {
    background-color: color.adjust($darkBackground2, $lightness: 5%);
    border-color: color.adjust($darkBackground2, $lightness: 10%);
  }
}

.mobileConnectButton {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $white;
  background-color: $darkBackground2;
  border: 1px solid $darkBackground1;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  @include Inter;

  &:hover {
    background-color: color.adjust($darkBackground2, $lightness: 5%);
    border-color: color.adjust($darkBackground2, $lightness: 10%);
  }
}
.mobileRpcButton {
  margin-top: auto;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  @media (min-width: 768px) {
    display: none;
  }
}

.accSelector,
.networkSelector {
  height: 40px;
  display: flex;
  align-items: center;
}

.networkSelector {
  width: 200px;
}

.accSelector {
  width: 270px;
  margin-right: 30px;
}

.burgerIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 0px;
  color: white;
  @media (max-width: 1281px) {
    display: block;
  }
}

.slideMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: $darkBackground1;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition:
    left 0.4s ease,
    opacity 0.4s ease;
  z-index: 1001;
  padding-top: 20px;
  overflow-y: auto;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  &.open {
    left: 0;
    opacity: 1;
  }

  @media (min-width: 1281px) {
    display: none;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    padding: 20px;
    margin: 0;
    color: $white;
  }

  .navItem {
    background-color: transparent;
    color: $white;
    width: 100%;
    font-size: 14px;

    &:hover {
      background-color: $greenPrimary;
      color: $darkBackground2;
    }
  }
}

.overlay.open {
  opacity: 1;
}

.coretimeSubMenuDesktop {
  position: absolute;
  margin-right: 300px;
  top: 90%;
  background-color: $darkBackground2;
  padding: 10px 0;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-top: 5px;
}

.subMenuItem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba($greenPrimary, 0.1);
  color: $white;

  &:hover {
    background-color: rgba($greenPrimary, 0.2);
  }
}
.coretimeSubMenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
  width: 100%;

  .navItem {
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: $greenPrimary;
      color: $darkBackground2;
    }
  }

  @media (min-width: 1281px) {
    display: none;
  }
}

.mobileContent {
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background-color: $darkBackground1;
  color: $black;
  @media (min-width: 768px) and (max-width: 1281px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobileContent {
    .accSelector,
    .networkSelector {
      width: 100%;
      height: 40px;
    }

    button {
      @include Inter;
      padding: 6px 10px;
      font-size: 16px;
      height: 50px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: $darkBackground2;
      div {
        gap: 10px;
        height: 20px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mobileContent {
    .networkSelector {
      margin-bottom: 10px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  @media (min-width: 1281px) {
    display: none;
  }
}

@media (max-width: 1450px) {
  .logo {
    width: 150px;
  }

  .navItem {
    font-size: 14px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }
}
@media (max-width: 1375px) {
  .navItem {
    font-size: 12px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }
}
@media (max-width: 800px) {
  .logo {
    width: 150px;
  }
}

.leftSection {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: flex-end;
  }
}

.burgerAndLogo {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 768px) {
    justify-content: flex-end;
    width: auto;
  }
}
