@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $darkBackground1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Inter;
}

.navbarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: margin-left 0.3s ease;
  margin-right: 10px;
  cursor: pointer;
}
.leftSection {
  display: flex;
  align-items: center;
}

.burgerAndLogo {
  display: flex;
  align-items: center;

  @media (min-width: 1281px) {
    .burgerIcon {
      display: none;
    }
  }
}
.desktopLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: $darkBackground2;
  border-radius: 10px;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  z-index: 1;

  max-width: 700px;
  margin-left: auto;
  margin-right: 140px;
  width: 100%;

  overflow: hidden;
  transition: all 0.3s ease;

  @media (max-width: 1301px) {
    display: none;
  }
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
  gap: 20px;
  color: $white;
  font-size: 14px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  text-align: left;
  color: $white;
  &:hover {
    background-color: $greenPrimary;
    color: $darkBackground2;
  }
}

.downArrow {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.coretimeWrapper {
  display: flex;
  align-items: center;
}

.desktopContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  gap: 5px;

  @media (max-width: 768px) {
    display: none;
  }
}

.rpcButton {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.settingsButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $greenPrimary;
  cursor: pointer;
  padding: 0;
  border: none;
  transition: background-color 0.2s ease;

  &:hover {
    transition: ease-in;
  }
}

.connectButton {
  color: white;
  font-size: 16px;
  width: 105px;
  height: 45px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: $greenPrimary;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: border-color 0.2s ease;
  &:hover {
    border-color: #00ff80;
  }
}

.accSelector,
.networkSelector {
  margin-right: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.networkSelector {
  width: 200px;
}

.accSelector {
  width: 200px;
}

.burgerIcon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 0px;

  @media (max-width: 1281px) {
    display: block;
  }
}

.slideMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: $darkBackground1;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition:
    left 0.4s ease,
    opacity 0.4s ease;
  z-index: 1001;
  padding-top: 60px;
  overflow-y: auto;
  box-sizing: border-box;

  &.open {
    left: 0;
    opacity: 1;
  }

  @media (min-width: 1281px) {
    display: none;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    padding: 20px;
    margin: 0;
    color: $white;
  }

  .navItem {
    background-color: transparent;
    color: $white;
    width: 100%;

    &:hover {
      background-color: $greenPrimary;
      color: $darkBackground2;
    }
  }
}

.overlay.open {
  opacity: 1;
}

.coretimeSubMenuDesktop {
  position: absolute;
  margin-right: 300px;
  top: 90%;
  background-color: $darkBackground2;
  padding: 10px 0;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-top: 5px;
}

.subMenuItem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba($greenPrimary, 0.1);
  color: $white;

  &:hover {
    background-color: rgba($greenPrimary, 0.2);
  }
}
.coretimeSubMenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
  width: 100%;

  .navItem {
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: $greenPrimary;
      color: $darkBackground2;
    }
  }

  @media (min-width: 1281px) {
    display: none;
  }
}

.mobileContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  background-color: $darkBackground1;
  color: $black;
  @media (min-width: 768px) and (max-width: 1281px) {
    display: none;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  @media (min-width: 1281px) {
    display: none;
  }
}

@media (max-width: 1472px) {
  .logo {
    width: 120px;
  }

  .navItem {
    font-size: 12px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }

  .accSelector,
  .networkSelector {
    width: 180px;
    height: 25px;
    margin-right: 10px;
  }
}
@media (max-width: 1341px) {
  .navItem {
    font-size: 11px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }
}
@media (max-width: 1307px) {
  .navItem {
    font-size: 11px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 2px;
  }
}
