@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-background-1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Inter;
}

.navbarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 160px;
  height: auto;
  cursor: pointer;
  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: 25px;
  }
}

.settingIcon {
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: margin-left 0.3s ease;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 30px;
  }
}

.leftSection,
.burgerAndLogo {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-end;
    width: 100%;
  }

  @media (min-width: 1281px) {
    .burgerIcon {
      display: none;
    }
  }
}

.desktopLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: var(--dark-background-2);
  border-radius: 10px;
  border: 1px solid var(--border-gray);
  z-index: 1;
  max-width: 700px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-right: 9%;

  @media (max-width: 1301px) {
    display: none;
  }

  @media (min-width: 2021px) {
    margin-right: 25%;
  }

  @media (min-width: 3000px) {
    margin-right: 30%;
  }

  @media (min-width: 3500px) {
    margin-right: 35%;
  }
}

.desktopLinksWithConnect {
  margin-right: 17%;
  @media (min-width: 2021px) {
    margin-right: 25%;
  }
  @media (min-width: 2650px) {
    margin-right: 30%;
  }

  @media (min-width: 3000px) {
    margin-right: 32%;
  }

  @media (min-width: 3500px) {
    margin-right: 35%;
  }
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
  gap: 20px;
  color: var(--white);
  font-size: 14px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  text-align: left;
  color: var(--white);

  &:hover {
    background-color: var(--green-primary);
    color: var(--dark-background-2);
  }
}

.downArrow {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.coretimeWrapper,
.desktopContent {
  display: flex;
  align-items: center;
}

.desktopContent {
  justify-content: flex-end;
  border-radius: 5px;
  gap: 5px;

  @media (max-width: 768px) {
    .accSelector,
    .networkSelector,
    .connectButton {
      display: none;
    }

    .rpcButton {
      display: flex !important;
      margin-right: 20px;
    }
  }
}

.connectButton,
.mobileConnectButton {
  height: 50px;
  padding: 10px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--dark-background-2);
  border: 1px solid var(--dark-background-1);
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  @include Inter;

  &:hover {
    background-color: $darkBackground4;
  }
}

.mobileRpcButton {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  padding-left: 2px;

  button {
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 12px;
    background-color: var(--dark-background-2);
    border: 1px solid var(--dark-background-1);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;

      height: 20px;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.rpcButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: $white;
  border-radius: 50%;
  transition:
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  img {
    width: 22px;
    height: 22px;
  }
}

.accSelector,
.networkSelector {
  height: 40px;
  display: flex;
  align-items: center;
}

.networkSelector {
  width: 200px;
}

.accSelector {
  width: 270px;
  margin-right: 30px;
}

.burgerIcon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 0px;
  color: var(--white);

  @media (max-width: 1281px) {
    display: block;
  }
}

.slideMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: var(--dark-background-1);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition:
    left 0.4s ease,
    opacity 0.4s ease;
  z-index: 1001;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include Inter;

  &.open {
    left: 0;
    opacity: 1;
  }

  @media (min-width: 1281px) {
    display: none;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    padding: 20px;
    margin: 0;
    color: var(--white);
  }

  .navItem {
    background-color: transparent;
    color: var(--white);
    width: 100%;
    font-size: 14px;

    &:hover {
      background-color: var(--green-primary);
      color: var(--dark-background-2);
    }
  }
}

.overlay.open {
  opacity: 1;
}

.coretimeSubMenuDesktop {
  position: absolute;
  margin-right: 300px;
  top: 90%;
  background-color: var(--dark-background-2);
  padding: 10px 0;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-top: 5px;
}

.subMenuItem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(12, 193, 132, 0.1);
  color: var(--white);

  &:hover {
    background-color: rgba(12, 193, 132, 0.2);
  }
}

.coretimeSubMenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
  width: 100%;

  .navItem {
    background-color: transparent;
    color: var(--white);

    &:hover {
      background-color: var(--green-primary);
      color: var(--dark-background-2);
    }
  }

  @media (min-width: 1281px) {
    display: none;
  }
}

.mobileContent {
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dark-background-1);
  color: var(--black);

  @media (min-width: 768px) and (max-width: 1281px) {
    display: none;
  }

  .accSelector,
  .networkSelector {
    width: 100%;
    height: 40px;
  }

  button {
    @include Inter;
    padding: 6px 10px;
    font-size: 16px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    div {
      gap: 10px;
      height: 20px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .networkSelector {
    margin-bottom: 10px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  @media (min-width: 1281px) {
    display: none;
  }
}

@media (max-width: 1450px) {
  .logo {
    width: 150px;
  }

  .navItem {
    font-size: 14px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }
}

@media (max-width: 1375px) {
  .navItem {
    font-size: 12px;
    padding: 8px 12px;
  }

  .desktopContent {
    gap: 5px;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 140px;
  }
}
.rpcButton img {
  filter: brightness(0.5);
}
