@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use 'sass:color';

.sale_history_table {
  margin-top: 130px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: $darkBackground2;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 45px;
  color: var(--text-primary);
}

.tableWrapper {
  min-width: 200px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.subheading {
  margin-top: -10px;
  font-size: 14px;
  color: var(--text-primary);
  margin-bottom: 30px;
}
