@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sale_history_table {
  margin-top: 130px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: $darkBackground1;
  border-radius: 10px;
  overflow-x: auto;
  padding: 25px;
}

.tableWrapper {
  min-width: 600px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.subheading {
  margin-top: -10px;
  font-size: 14px;
  color: $sliderDisabled;
  margin-bottom: 30px;
}
