@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  @include Inter;
  z-index: 1000;
}

.modalContent {
  background: $darkBackground2;
  padding: 24px 24px 32px;
  border-radius: 12px;
  width: 420px;
  max-width: 90%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  @media (max-width: 800px) {
    width: 80%;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: $greenPrimary;
    font-size: 20px;
  }

  .closeIcon {
    color: $white;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.subText {
  color: $white;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 40px;
}

.inputs {
  max-width: 400px;
}

.inputRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputLabel {
  font-size: 14px;
  color: $white;
  margin-bottom: 5px;
}

.fromInput {
  padding: 15px;
  background-color: $darkBackground2;
  border: 1px solid lighten($darkBackground1, 10%);
  border-radius: 10px;
  color: $white;
  font-size: 14px;
  outline: none;
}

.selectWrapper {
  width: 100%;
}

.finalityDescription {
  color: $white;
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: 24px;
  opacity: 0.85;
  line-height: 1.6;
  white-space: pre-wrap;
}

.assignBtn {
  width: 100%;
  padding: 12px;
  background-color: $greenPrimary;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($greenPrimary, 10%);
  }
}
