@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.regionCardHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: start;
  align-items: center;

  .identicon {
    width: 80px;
    height: 80px;
  }

  &-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 20px;
    gap: 10px;

    h5 {
      @include Montserrat;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      font-weight: 700;
      margin: 0;
    }

    p {
      @include Montserrat;
      font-size: 14px;
      line-height: 22px;
      color: $white;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
  }

  &-labels {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
  }
}

.nameEditWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  h5 {
    margin: 0;
  }

  .editIcon {
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .editInput {
    font-size: 1rem;
    padding: 0.35rem 0.6rem;
    border: 0.5px solid $gray3;
    background-color: $darkBackground4;
    max-width: 120px;
    border-radius: 6px;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
    color: white;

    &:focus {
      border-color: $greenPrimary;
      box-shadow: 0 0 0 1px $greenPrimary;
    }
  }
}
.labelWithIcon {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  border-radius: 8px;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  @include Montserrat;
  img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}
