@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 20px;

  p {
    margin: 0;
  }

  .page-navigator {
    background-color: $darkBackground2;
    padding: 8px 12px;
    border-radius: 6px;
    color: $gray3;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: lighten($darkBackground2, 5%);
    }
  }

  .active-page {
    background-color: $greenPrimary;
    color: $white;
    font-weight: 600;
  }
}
