@use 'sass:color';
@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.pageButton {
  background-color: $darkBackground1;
  color: $gray6;
  border: none;
  padding: 8px 12px;
  min-width: 42px;
  height: 42px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: color.adjust($greenPrimary, $lightness: -5%);
  }
}

.active {
  background-color: $greenPrimary;
  color: $white;
  font-weight: bold;
}
