@use '@/styles/variables' as *;
@use '@/styles/_mixins';
@use 'sass:color';

.container {
  background-color: $darkBackground3;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  text-align: center;
}

.label {
  color: $gray6;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  display: block;
}

.barWrapper {
  position: relative;
  margin: 20px 0 16px;
  height: 60px;
}

.bar {
  height: 100%;
  border-radius: 12px;
  background: repeating-linear-gradient(
    to right,
    $greenPrimary,
    $greenPrimary 1px,
    transparent 1px,
    transparent 3px
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.plusButton {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $greenPrimary;
  color: $darkBackground3;
  font-size: 1.5rem;
  font-weight: bold;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 1.8rem;
  font-weight: 700;
  color: $white;
  margin: 30px 7px;
  margin-bottom: 10px;
}

.unit {
  font-size: 0.875rem;
  color: $gray6;
}

.timer {
  font-size: 0.75rem;
  color: $gray6;
}
