@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.selectWrapper {
  position: relative;
  width: 100%;
  @include Inter;
  font-size: 16px;
  line-height: 26px;
  .selectedOptionDisplay {
    display: flex;
    align-items: center;

    .optionIcon {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: 1725px) {
    .accSelector,
    .desktopContent {
      width: 100px;
    }
  }
  .selectBox {
    padding: 10px;
    border: 1px solid $darkBackground1;
    border-radius: 10px;
    background-color: $darkBackground2;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;

    &-arrow {
      display: flex;
      font-size: 12px;
    }

    &:hover {
      border-color: $darkBackground2;
    }

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: #f5f5f5;
    }
  }

  .selectDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: $darkBackground2;
    color: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;

    .selectDropdown-optionList {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .selectDropdown-optionList-optionItem {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $darkBackground1;
      }

      &.selected {
        color: $white;
      }
    }

    .inputWrapper {
      border: none;
      input {
        border: none;
        border-bottom: 1px solid $gray3;
      }
    }
  }
}
