@use '@/styles/variables' as *;
@use '@/styles/_mixins' as *;

.renewableCoresCard {
  background: $darkBackground2;
  border-radius: 15px;
  padding: 30px;
  color: var(--text-primary);
  @include Inter;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--card-border);

  @media (max-width: 1800px) {
    width: 47%;
  }
  @media (max-width: 1585px) {
    width: 46%;
  }
  @media (max-width: 1503px) {
    width: 43%;
  }
  @media (max-width: 1301px) {
    width: 40%;
  }
  @media (max-width: 1161px) {
    width: 39%;
  }
  @media (max-width: 1121px) {
    width: 90%;
  }
  @media (max-width: 800px) {
    max-width: 88%;
  }
  @media (max-width: 750px) {
    max-width: 85%;
  }
  @media (max-width: 450px) {
    max-width: 80%;
  }

  &.compact {
    width: 33%;

    @media (max-width: 1800px) {
      width: 35.5%;
    }

    @media (max-width: 1500px) {
      width: 42%;
    }
    @media (max-width: 1306px) {
      width: 92%;
    }
    @media (max-width: 1121px) {
      width: 90%;
    }
    @media (max-width: 1000px) {
      width: 88%;
    }
    @media (max-width: 800px) {
      max-width: 88%;
    }
    @media (max-width: 750px) {
      max-width: 85%;
    }
    @media (max-width: 450px) {
      max-width: 80%;
    }
  }
}

.title {
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-bottom: -10px;
}

.selectBox {
  background-color: var(--card-inner);
  border-radius: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  fill: var(--text-primary);
}

.details {
  display: flex;
  justify-content: space-between;
}

.detailBlock {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: var(--text-secondary);
  margin-bottom: 4px;
}

.value {
  font-size: 0.95rem;
  font-weight: 500;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.renewButton {
  background-color: $greenPrimary;
  color: var(--black-text);
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: auto;
  margin-bottom: 10px;
  @include Inter;

  &:hover {
    background-color: var(--accent-green-hover);
  }
}

.noDataMessage {
  background-color: $darkBackground1;
  color: $gray6;
  font-size: 0.95rem;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: -16px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
