@use '../../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: var(--dark-background-2);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;

  h2 {
    color: var(--green-primary);
    margin-bottom: 30px;
    font-size: 22px;
  }

  .walletContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--slider-disabled);
  }
}

.walletButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 12px 0;
  padding: 15px 20px;
  background: var(--dark-background-1);
  border: none;
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  transition: 0.3s;
  @include Inter;

  &:hover {
    background: var(--dark-background-3);
  }

  .walletIcon {
    margin-right: 12px;
    transition: filter 0.3s ease;
  }
}

.walletTextWrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletName {
  flex: 1;
}

.downloadIcon {
  color: var(--green-primary);
  transition: opacity 0.2s;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  .walletIcon {
    filter: grayscale(100%);
    opacity: 0.6;
  }
}

@media (max-width: 540px) {
  .modalContent {
    width: 70%;
  }
}

@media (max-width: 140px) {
  .modalContent {
    width: 70%;
  }

  .walletButton {
    justify-content: center;
    padding: 12px;
  }

  .walletIcon {
    margin-right: 0;
  }

  .walletTextWrapper {
    display: none;
  }

  .walletButton.disabled {
    justify-content: space-between;
    padding: 12px 16px;

    .walletTextWrapper {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
  }

  .walletName {
    display: none;
  }
}

.desktopOnly {
  @media (max-width: 540px) {
    display: none;
  }
}
