@use 'sass:color';
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sliderWrapper {
  position: relative;
  width: 100%;
  padding: 20px 0;

  &-label {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-color);
    @include Inter;
  }

  &::before {
    content: '';
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: var(--slider-track-color);
    border-radius: 10px;
    z-index: 0;
  }

  &-track {
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }

  &-filled {
    position: absolute;
    height: 100%;
    background-color: var(--green-primary);
    border-radius: 5px;
    top: 4px;
    left: 0;
    z-index: 2;
  }

  &-tooltip {
    position: absolute;
    top: -28px;
    background-color: var(--green-primary);
    color: var(--tooltip-text-color);
    @include Inter;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
    transition: left 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: var(--green-primary);
      z-index: -1;
    }
  }
}

.rangeInput {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 3;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: var(--slider-thumb-color);
    border-radius: 50%;
    border: 5px solid var(--slider-thumb-border);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--slider-thumb-hover);
    }
  }

  &::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background-color: var(--slider-thumb-color);
    border-radius: 50%;
    border: 5px solid var(--slider-thumb-border);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--slider-thumb-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      display: none;
    }

    & ~ .sliderWrapper-tooltip {
      display: none;
    }
  }
}
