@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sliderWrapper {
  position: relative;
  width: 100%;
  padding: 20px 0;

  &-label {
    margin-bottom: 10px;
    font-size: 14px;
    color: $dark;
  }

  &-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: transparent;
    border-radius: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }

  &-filled {
    background-color: $greenPrimary;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
  }

  &-tooltip {
    position: absolute;
    top: -20px;
    background-color: $greenPrimary;
    color: white;
    @include Montserrat;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    transform: translateX(-50%);
    pointer-events: none;
    transition: left 0.3s ease;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -4px;
      width: 15px;
      height: 15px;
      transform: rotate(-45deg);
      background-color: $greenPrimary;
    }
  }
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: $greenDark2;
    border-radius: 10px;
  }
}

.rangeInput {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid $dark;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: mix(white, $dark, 20%);
    }
  }

  &::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50%;
    border: 5px solid $dark;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: mix(white, $dark, 20%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    & ~ .sliderWrapper-track {
      .sliderWrapper-filled {
        background-color: $greenPrimary;
      }
    }
    & ~ .sliderWrapper-tooltip {
      display: none;
    }
    &::-webkit-slider-thumb {
      display: none;
    }
  }
}
