@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.componentWrapper {
  display: flex;
  flex-direction: column;
  .inputWrapper {
    position: relative;
    @include Montserrat;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &.-disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:focus-within {
      border-color: $black;
    }

    &-icon-left {
      opacity: 0.5;
      display: flex;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: $gray3;
      &-focused {
        opacity: 1;
      }
    }

    &-identicon {
      opacity: 0.5;
      display: flex;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-label {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      @include Montserrat;
      margin-bottom: 5px;
      font-size: 14px;
      color: #333;
      &.inputWrapper-error {
        color: $redDark;
      }
    }

    &-error {
      border: none;
    }

    .inputField {
      width: 100%;
      padding: 14px 20px;
      padding-left: 20px; // Space for the left icon
      border: none;
      outline: none;
      font-size: 16px;
      background-color: transparent;

      &-disabled {
        background-color: #f0f0f0;
        cursor: not-allowed;
      }

      &-error {
        border-radius: 4px;
        border: 2px solid $redDark;
        color: $redDark;
        &:focus-within {
          border-color: $redDark;
        }
      }

      &-focused {
        border-color: $black;
      }

      &-leftIcon {
        padding-left: 50px;
      }
    }
  }
}
