@use '../../../../styles/variables' as *;
@use '../../../../styles/_mixins' as *;

.chartCard {
  background: $darkBackground2;
  border-radius: 15px;
  padding: 10px;
  color: var(--text-primary);
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--card-border);
  position: relative;

  @media (min-width: 3000px) {
    width: 62.5%;
  }
  @media (max-width: 1800px) {
    width: 97.5%;
  }
  @media (max-width: 1800px) {
    width: 97%;
  }
  @media (max-width: 1503px) {
    width: 95.5%;
  }
  @media (max-width: 800px) {
    max-width: 93.5%;
  }
  @media (max-width: 750px) {
    max-width: 90%;
  }
  @media (max-width: 700px) {
    max-width: 90%;
  }
  @media (max-width: 450px) {
    max-width: 90%;
  }

  &.compact {
    @media (max-width: 1800px) {
      width: 55%;
    }

    @media (max-width: 1300px) {
      width: 75%;
    }
    @media (max-width: 1510px) {
      width: 54%;
    }
    @media (max-width: 1500px) {
      width: 46%;
    }
    @media (max-width: 1306px) {
      width: 96.5%;
    }
    @media (max-width: 1120px) {
      width: 95.5%;
    }
    @media (max-width: 1000px) {
      width: 94%;
    }
    @media (max-width: 800px) {
      max-width: 93.5%;
    }
    @media (max-width: 750px) {
      max-width: 91%;
    }

    @media (max-width: 700px) {
      max-width: 91%;
    }
    @media (max-width: 650px) {
      max-width: 92%;
    }
    @media (max-width: 450px) {
      max-width: 91%;
    }
  }
}

.title {
  font-size: 0.875rem;
  color: var(--text-secondary);
  @include Inter;
  margin-left: 20px;
  margin-top: 5px;
}

.backgroundLabels {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  opacity: 0.8;
  @include Inter;

  @media (max-width: 600px) {
    font-size: 12px;
    bottom: 50px;
    margin-left: 10px;
  }
  @media (max-width: 525px) {
    font-size: 8px;
    bottom: 50px;
    width: 95%;
  }
}

.interlude {
  color: var(--text-primary);
  margin-left: 20%;
  margin-bottom: 5%;

  @media (max-width: 525px) {
    margin-left: 30%;
  }
}

.leadin {
  color: var(--text-primary);
  text-align: center;
  flex: 1;
}

.fixed {
  color: var(--text-primary);
  margin-right: 10%;
  text-align: right;
}
