@use '../../../../styles/variables' as *;
@use '../../../../styles/_mixins' as *;
@use 'sass:color';

.chartCard {
  background: $darkBackground2;
  border-radius: 15px;
  padding: 10px;
  color: $white;
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid color.adjust($darkBackground2, $lightness: 10%);
  position: relative;
}

.title {
  font-size: 0.875rem;
  color: $gray6;
  @include Inter;
  margin-left: 20px;
  margin-top: 5px;
}

.backgroundLabels {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  opacity: 0.3;
  @include Inter;
}

.interlude {
  color: #00ffa3;
  margin-left: 20%;
  margin-bottom: 5%;
}

.leadin {
  color: #ffffff;
  text-align: center;
  flex: 1;
}

.fixed {
  color: #888888;
  margin-right: 10%;
  text-align: right;
}
