@use '@/styles/variables' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  z-index: 999;
  padding-top: 40px;
}

.modal {
  width: 80%;
  max-width: 500px;
  background-color: $darkBackground1;
  border-radius: 10px;
  padding: 25px;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.detailItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  color: #888;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.input {
  padding: 15px 12px;
  border-radius: 10px;
  border: 2px solid $darkBackground2;
  font-size: 14px;
  background-color: $darkBackground2;
  color: $white;

  &:focus {
    outline: none;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
