@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.auctionPhaseCard {
  background: $darkBackground2;
  border-radius: 15px;
  padding: 30px;
  color: $white;
  width: 33%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--card-border);
  @include Inter;
  gap: 20px;

  @media (max-width: 1800px) {
    width: 48%;
  }
  @media (max-width: 1573px) {
    width: 47.2%;
  }
  @media (max-width: 1301px) {
    width: 44.5%;
  }
  @media (max-width: 1161px) {
    width: 40%;
  }
  @media (max-width: 1121px) {
    width: 90%;
  }
  @media (max-width: 940px) {
    max-width: 88%;
  }
  @media (max-width: 900px) {
    max-width: 87%;
  }
  @media (max-width: 800px) {
    max-width: 88%;
  }
  @media (max-width: 750px) {
    max-width: 84%;
  }
  @media (max-width: 460px) {
    max-width: 80%;
  }

  &.compact {
    width: 39.5%;

    @media (max-width: 1921px) {
      width: 30.8%;
    }
    @media (max-width: 1800px) {
      width: 34.5%;
      .value {
        font-size: 1rem;
      }
    }
    @media (max-width: 1573px) {
      width: 33.5%;
    }
    @media (max-width: 1502px) {
      width: 92.5%;
    }
    @media (max-width: 1390px) {
      width: 92.5%;
    }
    @media (max-width: 1306px) {
      width: 91.5%;
    }

    @media (max-width: 1121px) {
      width: 90%;
    }
    @media (max-width: 1000px) {
      max-width: 88%;
    }
    @media (max-width: 940px) {
      max-width: 88%;
    }
    @media (max-width: 900px) {
      max-width: 87%;
    }
    @media (max-width: 800px) {
      max-width: 88%;
    }
    @media (max-width: 750px) {
      max-width: 85%;
    }
    @media (max-width: 450px) {
      max-width: 80%;
    }
  }

  &.extended {
    @media (max-width: 1800px) {
      width: 93.5%;
    }

    @media (max-width: 1430px) {
      width: 91%;
    }

    @media (max-width: 1000px) {
      width: 88%;
    }

    @media (max-width: 800px) {
      max-width: 88%;
    }

    @media (max-width: 750px) {
      max-width: 84%;
    }

    @media (max-width: 450px) {
      max-width: 80%;
    }
  }
}

.header {
  font-size: 1rem;
  color: var(--text-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0px;
}

.label {
  font-size: 0.85rem;
  color: $gray6;

  @media (max-width: 480px) {
    font-size: 0.65rem;
  }

  @media (max-width: 410px) {
    font-size: 0.55rem;
  }
}

.value {
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  color: $white;

  @media (max-width: 480px) {
    font-size: 0.7rem;
  }

  @media (max-width: 410px) {
    font-size: 0.6rem;
  }
}

@media (min-width: 800px) and (max-width: 890px) {
  .label {
    font-size: 0.7rem;
  }

  .value {
    font-size: 1rem;
  }
}

@media (min-width: 1117px) and (max-width: 1388px) {
  .label {
    font-size: 0.7rem;
  }

  .value {
    font-size: 0.8rem;
  }
}

.progressWrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 600;
  color: $white;
}

.foregroundArc {
  transition: stroke-dashoffset 0.6s ease;
}

.progressLabel {
  fill: $gray6;
  font-size: 13px;
}

.progressValue {
  fill: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 533px) {
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
  }

  .label {
    font-size: 0.45rem;
    color: $gray6;
  }
}
