@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #fff;
  padding: 32px 24px 24px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  animation: fadeIn 0.3s ease-in-out;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.modalSubtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 16px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.infoBox {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $black;
  padding: 4px;
  line-height: 1;
  transition: color 0.2s ease;

  &:hover {
    color: #666;
  }
}

.reserveButton {
  button {
    padding: 10px 24px;
    font-weight: 600;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
